body {
  background: url(https://images.unsplash.com/photo-1473662712020-75289ee3c5de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: Breite, sans-serif;
}

.paragraph-style{
    font-family: Breite, sans-serif;
    
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

.glass-panel {
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(5px);
}

.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}

.glass-panel {  
  max-width: 600px;
}

.glass-button {
  margin: 15px;
  margin-top: 40px;
}
/*

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #e146fc, #613ffb);
    background-clip: text;
    -webkit-background-clip: text;
    border: transparent 1px;
    font-size: 13px;
    color: transparent;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 0px #000000;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #e146fc, #613ffb);
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
} */
