body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: Breite, sans-serif;
}

.paragraph-style{
    font-family: Breite, sans-serif;
    
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #e146fc, #613ffb);
    background-clip: text;
    -webkit-background-clip: text;
    border: transparent 1px;
    font-size: 13px;
    color: transparent;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 0px #000000;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #e146fc, #613ffb);
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
